<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaConnect</title>
    <style>
        pre {
            width:100%;
            padding: 1rem;
            background: #211e2f;
            margin-bottom: 0;
            color: white;
            background-color: #211E2F;
            font-family: Menlo, Monaco, 'Courier New', monospace;
            font-size: 14px;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 24px;
        }
    </style>
</head>

<body>
    <div id="container">
        <pre>
            {{respose}}
        </pre>
    </div>

</body>

</html>