<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{error}}<br>
    {{response}}<br>
    {{ipfs_url}}<br>
    {{userwallet.owneraddress}}<br>
    {{project.name}}<br>
    <pre>{{contract}}</pre>
    <br>
    <br>

    <form method="POST" action="{% url 'deploy' userwallet.owneraddress %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Deploy" />
    </form>






</body>

</html>