<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <input required name="allimages" type="file" multiple>
        <button type="submit">Upload</button>
    </form>
    ---------------------------------------------------------
    <br>
    {% for i in imagesObjects %}
    <br>
    <img src="" alt="Cool">
    {% endfor %}



</body>

</html>