<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hello world
    <br>
    {{walletdetails.owneraddress}}<br>
    {{walletdetails.moralisid}}<br>
    {{project.name}}
    {{project.symbol}}

    <img src="/images/{{project.image}}" style="width: 20%;" />

    <form action="{% url 'upload' walletdetails.owneraddress %}">
        {% csrf_token %}
        <input type="submit" value="upload to ipfs">
    </form>

</body>

</html>